@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@media(max-width: 991px) {
    .carousel-indicators.position-relative.d-flex.justify-content-start.owl-dots {
        justify-content: center
    }
}

@media(max-width: 767px) {
    .item.header-text.text-start.carousel-caption {
        text-align: center !important
    }
}

.slick-dots li button:before {
    color: #ff695f
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #ff695f
}

.color-ff695f {
    color: #ff695f
}

.main-banner .carousel-caption {
    left: 0% !important
}

.item.profile {
    display: flex !important;
    margin: 10;
    align-items: center;
    justify-content: center;
    align-content: center
}

.our-portfolio .show-img.modal .modal-dialog {
    padding: 1rem
}