@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
.slick-dots li button:before {
    color: #ff695f;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #ff695f;
}