@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
    font-family: 'Kodchasan', sans-serif;
    src: url('./../fonts/IBMPlexSansThaiLooped-Light.ttf') format('truetype'),
        url('./../fonts/IBMPlexSansThaiLooped-Bold.ttf') format('truetype'),
        url('./../fonts/IBMPlexSansThaiLooped-ExtraLight.ttf') format('truetype'),
        url('./../fonts/IBMPlexSansThaiLooped-Medium.ttf') format('truetype'),
        url('./../fonts/IBMPlexSansThaiLooped-Regular.ttf') format('truetype'),
        url('./../fonts/IBMPlexSansThaiLooped-SemiBold.ttf') format('truetype'),
        url('./../fonts/IBMPlexSansThaiLooped-SemiBold.ttf') format('truetype');
}

body {
    font-family: 'Kodchasan', sans-serif;
}

.header-area {
    .main-nav {
        a.nav-link {
            font-weight: bold;
        }
    }
}

@media (max-width: 991px) {
    .carousel-indicators.position-relative.d-flex.justify-content-start.owl-dots {
        justify-content: center;
    }
}

@media(max-width: 767px) {
    .item.header-text.text-start.carousel-caption {
        text-align: center !important;
    }
}

@media screen and (max-width: 370px) {
    .opacity-0{
        height: 475px;
    }
}

.slick-dots li button:before {
    color: #ff1212;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #ff1212;
}

.color-ff3d3d {
    color: #ff1212;
}

.main-banner {
    .carousel-caption {
        left: 0% !important;
    }

}

.item.profile {
    display: flex !important;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.show-img {
    .modal-content {
        background-color: unset;
    }

    .modal-dialog {
        padding: 1rem;
        background: unset;

        img {
            object-fit: contain;
        }
    }
}

.slick-prev {
    color: #e61203;
}

.slick-next {
    color: #e61203;
}

.slick-prev:before {
    content: "←";

    color: #e61203;
    font-size: 23px;
}

.slick-next:before {
    content: "→";
    color: #e61203;
    font-size: 23px;
}